@{
    Layout = "_Layout";
}
<body>
<header>
    <h1>Welcome to the home page.</h1>
</header>
<img src="https://media.istockphoto.com/photos/marinara-pizza-picture-id184969517" width="500" height="500">
<section>
    <a href="https://twitter.com/explore">
    <h1>Welcome to our amazing social media app which definitely isn't just Twitter!</h1>
    </a>
</section>
</body>